<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>รายวิชา</h1>
<body>
    <ls>
        <a href="{{ url_for('views.api_result',variable='DSI-subjects')}}"><button>DSI</button></a>
        <a href="{{ url_for('views.api_result',variable='IP-subjects')}}"><button>IP</button></a>
        <a href="{{ url_for('views.api_result',variable='SI-subjects')}}"><button>SI</button></a>
        <a href="{{ url_for('views.api_result',variable='ALL-subjects')}}"><button>ALL</button></a>
    </ls>
</body>
</html>